<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711082905055-n2kvsrqesqggikithn3fjcja8c2t3ujk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711082905055-n2kvsrqesqggikithn3fjcja8c2t3ujk</string>
	<key>API_KEY</key>
	<string>AIzaSyC_-Wd_ajsfkQbKPeL6-mL9Sccajx1lxF8</string>
	<key>GCM_SENDER_ID</key>
	<string>711082905055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-5e4b2</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-5e4b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711082905055:ios:c7fe8b1c129569ba1d486a</string>
</dict>
</plist>